{% extends 'volare/base_listado.html' %}

{% block page_title %}Aerolíneas{% endblock %}
{% block heading %}Aerolíneas{% endblock %}

{% block listado_contenido %}
<ul class="lista">
    {% for aerolinea in aerolineas %}
        <li>
            <a href="{% url 'vuelos:aerolinea_detail' aerolinea.pk %}">
                {{ aerolinea.nombre }}
            </a>
            ({{ aerolinea.pais.nombre }})
        </li>
    {% empty %}
        <li>No hay aerolíneas registradas.</li>
    {% endfor %}
</ul>
{% endblock %}
