{% extends 'volare/base_listado.html' %}
{% load static %}
{% block page_title %}Países{% endblock %}
{% block heading %}Listado de países{% endblock %}

{% block listado_contenido %}
<ul class="lista">
    {% for pais in paises %}
        <li>
            <a href="{% url 'vuelos:pais_detail' pais.pk %}">
                <img 
                    src="{% static 'imagenes/banderas/'|add:pais.codigo_iso|lower|add:'.png' %}" 
                    alt="Bandera de {{ pais.nombre }}" 
                    class="bandera-icono"
                >
                {{ pais.nombre }} ({{ pais.codigo_iso }})
            </a>
        </li>
    {% empty %}
        <li>No hay países registrados.</li>
    {% endfor %}
</ul>
{% endblock %}
